<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Code Sample</title>
    </head>
    <body>
            
            <h1>Code Sample</h1>
            <section class="container-fluid">
                <h2>Scap'a-page!</h2>
                <p>example: http://localhost:8080/test.html</p>
                <div class="formScraper">
                    <form>
                        <input name="pageSrcBx" type="text"/>
                        <input type="submit" text="Submit"/>
                    </form>
                    <div class="resultsLoader"></div>
                    <div class="results">
                    </div>
                    <!-- put the template with the component -->
                    <script type="text/x-jsrender" class="resultTemplate">
                        <div class="resultsTable container">
                            <div class="row">
                                <div class="col-sm">
                                    Total Words
                                </div>
                                <div class="col-sm">
                                    {{:totalWords}}
                                </div>
                            </div>
                            {{for sortedWords end=10}}
                            <div class="row">
                                <div class="col-sm">
                                    "{{:#data}}"
                                </div>
                                <div class="col-sm">
                                    {{:~root.words[#data]}}
                                </div>
                            </div>
                            {{/for}}
                        </div>

                        <div id="carousel1" class="carousel slide gallery" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {{for imgUrls}}
                                  <li data-target="#carousel1" data-slide-to="{{:#index}}" {{if #index == 0 }}class="active" {{/if}}></li>
                                  {{/for}}
                                </ol>
                                <div class="carousel-inner">
                                    {{for imgUrls}}
                                  <div class="carousel-item {{if #index == 0 }} active{{/if}}">
                                    <img class="d-block w-100" src="{{:#data}}" alt="Some scraped image">
                                  </div>
                                  {{/for}}
                                </div>
                                <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>
                    </script>
                </div>
            </section>
    </body>
</html>