﻿@using CodeExample.Web.Areas.CodeExample.Models.Scraper
@model ScraperViewModel
@{
    Layout = "~/Areas/CodeExample/Views/Shared/DefaultPageLayout.cshtml";
}

<h2>Scrap'a'Page</h2>
<div class="formScraper">
    <form method="post" action="/">
        <p>example: http://localhost:65339/scraper/test</p>
        <input name="url" type="text" value="@Model.SearchUrl" />
        <input type="submit" value="@Model.SubmitBtnTxt" />
    </form>
    <div class="results">
        @Html.Partial("Scrape", Model)

    </div>
</div>



