﻿@using CodeExample.Web.Areas.CodeExample.Models.Scraper
@model ScraperViewModel
@{
    Layout = null;
}

<div class="resultsTable container">
    <div class="row">
        <div class="col-sm">
            Total Words
        </div>
        <div class="col-sm">
            @Model.TotalWords
        </div>
    </div>
    @foreach (var word in Model.Words)
    {
        <div class="row">
            <div class="col-sm">
                "@word.Key"
            </div>
            <div class="col-sm">
                @word.Value
            </div>
        </div>
    }
</div>

<div id="carousel1" class="carousel slide gallery" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (var index = 0; index < Model.ImgUrls.Count(); index++)
        {
            <li data-target="#carousel1" data-slide-to="@index" @(index == 0 ? "class=\"active\"" : "")></li>
        }
    </ol>
    <div class="carousel-inner">
        @for (var index = 0; index < Model.ImgUrls.Count(); index++)
        {
            var imgUrl = Model.ImgUrls[index];
            <div class="carousel-item @(index == 0 ? "active" : "")">
                <img class="d-block w-100" src="@imgUrl" alt="Some scraped image">
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>