﻿@{
    Layout = null;
}
<html>
<head>
    <title>Example Webpage</title>
</head>
<body>
    <img src="/assets/images/scrape1.png" />
    <img src="/assets/images/scrape2.jpg" />

    <section>
        <p>Some awesome info about scrapes</p>
        <p>Some other more interesting information about scrapes</p>
        <img src="/assets/images/scrape3.jpg" />
    </section>
    <section>
        <p>Yes, these paragraphs are designed to order words in a particular order with information about scrapes.</p>
    </section>
    <div>
        <h2>Section on scrapes and information about scrapes with some additional info about scrape sites....</h2>
        <img src="/assets/images/scrape4.png" />
    </div>

</body>
</html>